@import url(https://fonts.googleapis.com/css?family=Droid+Serif);

$body-bg: #ecf0f1;
$font-family-sans-serif: 'Droid Serif', Helvetica, Arial, sans-serif;
$btn-primary-bg: #c0392b;
$jumbotron-bg: white;

$navbar-default-link-color: #c0392b;
$navbar-height: 55px;
$navbar-brand: 55px;


@import 'bootstrap-sprockets';
@import 'bootstrap';
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");


.center {
	text-align: center;
}

.navbar-brand {
	font-size: 20px;
}

.btn-nav-bar {
	height: 15px;
}